<section>
    <h3>Widget 1</h3>

    <div>
        <div>
            <h4>User name</h4>
            <div>{{upcase firstName}} {{upcase lastName}}</div>
        </div>
        <div>
            <h4>Avatar</h4>
            <div><img src="{{avatar}}" alt="{{firstName}} {{lastName}}"></div>
        </div>
        <div>
            <h4>Telephone</h4>
            <div>{{telephone}}</div>
        </div>
    </div>
</section>