<section class="widget container">
    <h3>Widget 1</h3>

    <div>
        <div>
            <h4>{{accountName}}</h4>
            <div>{{allocationValue}}</div>
        </div>
        <div>
            <h4>{{currencySymbol}}</h4>
            <div>{{allocationPercentage}}</div>
        </div>
        <div>
            <h4>{{upcase "Title"}}</h4>
            <div>Text</div>
        </div>
    </div>
</section>